body {
  margin: 0;
  color:rgba(240, 240, 240, 1);
}
.fijar{
  position: fixed;
   top: 0;
  left: 0;
  width: 100%;

}
/* Barra promocional */
.promo-bar {
 
  background-color: #333;
  color:rgba(240, 240, 240, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1px;
  padding: 3px;
  font-family: 'Red Rose', sans-serif;
  font-size: 12px;
  font-weight: 400;

}
/* Círculo decorativo */
.circle {
  width: 8px;
  height: 8px;
  background-color: #dfd9da; /* Color rosa claro o el que prefieras */
  border-radius: 50%;
  margin-left:80px;
  margin-top:  1px;
}


/* Navbar principal */
.main-navbar {
  position: fixed;
 
 /* z-index: 1000;*/ 
  width: 100%;
  background-color: rgb(255, 255, 255); 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px ;
  padding-bottom: -30px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  fill : currentColor;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  font-family: 'REM', sans-serif;
  color: #333;
  -webkit-text-stroke: 2px #333;
  cursor: pointer;
  /*  transition: 0.2s; nos lleva a transiscionar en 0.2 segundos a .logo:hover que agranda el logo */
  transition: 0.2s;
}
.main-navbar .logo:hover{
  transform: scale(1.1);
 
}

/*buscador*/
.search-bar input {
  width: 380px;
  color: #F0F0F0;
  padding: 3px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 180px;
}

.icons a  {
  width: 24px;
  margin-left: 15px;
  color: #333;
  font-size: 24px;
  transition: 0.1s;

}
.icono_usuario i {
  font-size: 28px;
}

.icono_carrito i {
  font-size: 27px;
 
}
.icons i:hover {
  color: #a8a8a8;
  transform: scale(1.2); /* Agranda ligeramente al pasar el mouse */
}

/* corazon */
.icono_corazon{

width: 33px;
height: 33px;
left: 4px;
top: -0.63px;
}


/* Body home */
.fondo {
  width: 100%;
  height: 800px;
  background-image: url('.../img/FONDO ROPA NEGRA.jpg');
  background-size: cover;
  background-position: center;
}
 /*categorias en navbar*/
 .opcion-navbar {
  margin: 0 15px;
  font-family: 'NATS',sans-serif;
  font-weight: regular;
  font-size: 14px;
  -webkit-text-stroke: 1px #333;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  background-color:  rgb(255, 255, 255);
}
 .opcion-navbar2 {
  margin: 0 15px;
  font-family: 'NATS',sans-serif;
  font-weight: regular;
  font-size: 14px;
  -webkit-text-stroke: 1px #333;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  background-color:  rgb(255, 255, 255);
}
.opcion-navbar3 {
  margin: 0 15px;
  font-family: 'NATS',sans-serif;
  font-weight: regular;
  font-size: 14px;
  -webkit-text-stroke: 1px #333;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  background-color:  rgb(255, 255, 255);
}
.opcion-navbar:hover {
  margin: 0 15px;
  text-decoration: none;
  color: #bcbcbc;
  -webkit-text-stroke: 0.5px #bcbcbc; /* Borde negro de 2px */
  font-weight: 500;
  background-color:  rgb(255, 255, 255);
} 
.opcion-navbar2:hover {
  
  text-decoration: none;
  color: #bcbcbc;
  -webkit-text-stroke: 0.5px #bcbcbc; /* Borde negro de 2px */
  font-weight: 500;
  background-color:  rgb(255, 255, 255);
} 
.opcion-navbar3:hover {
  margin: 0 15px;
  text-decoration: none;
  color: #bcbcbc;
  -webkit-text-stroke: 0.5px #bcbcbc; /* Borde negro de 2px */
  font-weight: 500;
  background-color:  rgb(255, 255, 255);
} 

.opciones-navbar {
  background-color: rgb(255, 255, 255); /* Fondo blanco */
  list-style: none;
  padding: 0px;
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
}


.opcion-navbar:hover >.categoria-desplegable{
  display:flex;
  left: -75px;
}
.opcion-navbar2:hover >.categoria-desplegable2{
  display:flex;
  left: 0px;
}
.categoria-desplegable2{
  display: none;
  top: 100%;
  left: 0;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  position:absolute;
  gap: 2px;
  list-style: none;
  padding: 0;
  background-color: rgba(240, 240, 240, 1); /* Fondo blanco */
  box-shadow: 0 4px 6px rgba(83, 83, 83, 0.15); /* Sombra suave */
  padding-left: 80px; /* Espaciado interno */
  transform: translateY(5px);
}
.categoria-desplegable{
  display: none;
  top: 100%;
  left: 0;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  position:absolute;
  gap: 2px;
  list-style: none;
  padding: 0;
  background-color: rgba(240, 240, 240, 1); /* Fondo blanco */
  box-shadow: 0 4px 6px rgba(83, 83, 83, 0.15); /* Sombra suave */
  padding-left: 80px; /* Espaciado interno */
  transform: translateY(5px);
}
.categoria-desplegable >li{
   display:flex;
   background-color: rgba(240, 240, 240, 1); 
}

li{
  background-color: rgba(240, 240, 240, 1);
  justify-content: space-around;
  list-style: none;
  cursor:pointer; 
  padding: 6px;
  margin: 0 15px;
  font-family: 'NATS',sans-serif;
  font-weight: regular;
  font-size: 13px;
  -webkit-text-stroke: 0.7px #333;
  text-decoration: none;
  color: #333;
  font-weight: 500;

 }

li:hover{
  display: block;
  color: #a8a8a8;
  -webkit-text-stroke: 0.7px #a8a8a8;
  border-width: 1px;
  background-color: rgba(240, 240, 240, 1); 
  
}
