body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  background-color: #f4f4f4;
}
.logo{
    padding-left: 40px;
}
.sidebar {
  width: 220px;
  background-color: rgba(217, 217, 217, 1);
  color: white;
  padding: 20px;
  display: flex;
  position: fixed;
  margin-top: 45px; /* espacio para que no se tape con el navbar */
  padding: 20px;
  padding-bottom: 150px;
}

.sidebar ul {
  list-style: none;
  padding:50px;
  font-family: 'NATS',sans-serif;
  margin-top: -50px;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
  background-color: rgba(217, 217, 217, 1);
  
}

.main {
  flex: 1;
  padding: 70px;
  padding-left: 250px;
}
.main h1{
    font-family: 'REM', sans-serif;
    
}

canvas {
  max-width: 600px;
  margin-bottom: 40px;
}

.productos, .ordenes, .calendario {
  margin-bottom: 40px;
}

.producto {
  display: flex;
  gap: 20px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.producto h3{
font-size: 20px;
}
.productos h2{
  font-size: 25px;
  font-family: 'REM', sans-serif;
  margin-left: 18px;
}

.calendario {
  background: white;
  padding: 10px;
  border-radius: 8px;
}

.ordenes ul {
  padding-left: 20px;
}

.dashboard{
    font-family: 'NATS',sans-serif;
    font-size: 20px;
}


.grafico-container {
  background-color: #fff;
  border: 3px solid #9b9b9b;
  padding: 10px 10px ;
  border-radius: 5px;
  max-width: 700px;
  margin: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
flex: 2; /* Ocupa más espacio */

}
.grafico-container h2{
 font-size: 25px;
 font-family: 'NATS', sans-serif;
}
canvas {
  margin-top: 20px;
}
.calendario-agenda{
  display: flex;
    
  gap: 50px;
  align-items: flex-start;
}

.calendario {
  flex: 2;
  width: 180px;
  flex-shrink: 0; /* No se achica */
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 15px;
  font-family: 'REM', sans-serif;
}
.notas-guardadas {
  flex: 1;
  background-color: #f4f4f4;
  padding: 0px;
  border-radius: 8px;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}
.notas-guardadas h3{
  font-size: 24px;
}
.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

}

.dias-semana {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.dias-mes {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 5px;
}

.dias-mes div {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.dias-mes div:hover {
  background-color: #848484;
  color: white;
}
textarea {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  padding: 10px;
  resize: none;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #6b6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'NATS', sans-serif;
}

button:hover{
   background-color: #d4d4d4;
  color: rgb(35, 35, 35);
}
.analisis-producto{
  display: flex;
  flex-direction: row;
  gap: 20px; /* Espacio entre gráfico y producto */
  align-items: flex-start;

}
.dia-con-nota {
  background-color: #ffeeba;
  border-radius: 50%;
  font-weight: bold;
}
#lista_notas {
  margin-left: 0;
  padding-left: 0;
}

#lista_notas li {
  margin-left: 0;
  padding-left: 2px;
white-space: nowrap;  
overflow: hidden;  
 text-overflow: ellipsis; 
}
#lista_notas li:hover {
  white-space: normal;
  overflow: visible;
  background-color: #e1e1e1;
  color: #333;
}
