body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
  display: flex;
  background: #222;
}

nav a {
  color: #ffffff;
  padding: 1rem;
  text-decoration: none;
}