/* === Estilos de Inventario === */
.card{
  margin-left: 40px;
  margin-top: 30px;
}
.titulo-lista{
  margin-top: 110px;
  margin-left: 40px;
  margin-bottom: -60px;
}
.filters{ margin-top: 80px; }
tr.row-out { opacity: .55; }
